<div class="panel main">
    <div class="panel left">
        {% include sidebar/main.html selected=page.slug %}
    </div>
    <div class="panel middle">
        <article>
        <div class="grid grid-responsive-12">
            <div class="row">
                <h1>All the releases</h1>
                <div class="col5">
                    <h3>Passbolt Pro Edition</h3>
                    <ul>
                        {% assign items = site.releases | sort: 'date' %}
                        {% for item in items reversed %}
                        {% assign major = item.version | slice: 1 %}
                        {% if item.product == 'pro' %}{% if major == '2' %}
                        <li>
                            <span style="width:60%; display:inline-block"><a href="{{ item.url }}">{{ item.version }} - {{ item.title }}</a></span>
                            <span style="color:#888">{% include date/format-date.html date=item.date %}</span>
                        </li>
                        {% endif %}{% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="col5 push1 last">
                    <h3>Passbolt Community Edition (CE)</h3>
                    <ul>
                        {% for item in items reversed %}
                        {% assign major = item.version | slice: 1 %}
                        {% if item.product == 'ce' %}{% if major == '2' %}
                        <li>
                            <span style="width:60%; display:inline-block"><a href="{{ item.url }}">{{ item.version }} - {{ item.title }}</a></span>
                            <span style="color:#888">{% include date/format-date.html date=item.date %}</span>
                        </li>
                        {% endif %}{% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row">
                <h2>Older versions</h2>
                <div class="col5 last">
                    <h3>Passbolt CE</h3>
                    <ul>
                        {% for item in items reversed %}
                        {% assign major = item.version | slice: 1 %}
                        {% if item.product == 'ce' %}{% if major == '1' %}
                        <li>
                            <span style="width:60%; display:inline-block"><a href="{{ item.url }}">{{ item.version }} - {{ item.title }}</a></span>
                            <span style="color:#888">{% include date/format-date.html date=item.date %}</span>
                        </li>
                        {% endif %}{% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="col5 push1 last">
                    <!-- nothing -->
                </div>
            </div>
        </div>
        </article>
    </div>
</div>
