---
title: SSO
layout: home
category: configure
slug: https
permalink: /configure/sso
---
<div class="panel main">
    <div class="panel left">
        {% include sidebar/sub-section-home.html section='configure' sub=page.slug %}
    </div>
    <div class="panel middle">
        <div class="grid grid-responsive-12">
            {% assign proCategories = "configure|sso" | split: "|" %}
            {% include cards/jmy-section-cards.html section='configure' sub='sso' title='Configure Single Sign-On' categories=proCategories %}
        </div>
    </div>
</div>
