---
title: Help homepage
layout: home
---
<div class="panel main">
    <div class="panel left">
        {% include sidebar/main.html selected=page.slug %}
    </div>
    <div class="panel middle">
        <div class="grid grid-responsive-12">
            {% include breadcrumbs/default.html slug=page.slug %}

            <h1>Welcome!</h1>
            {% include messages/notice.html
            content="Welcome to help.passbolt.com the historical place for the product documentation.
            The content of this website is currently being migrated <a href='https://www.passbolt.com/docs'>here</a>.<br>
             Thank you for your patience!"
            %}
            {% include cards/section-cards.html slug="introduction" %}
        </div>
    </div>
</div>
