<div class="row" id="introduction">
    <div class="col12">
        <div class="breadcrumbs">
            <ul>
                <li>
                    <div class="main-cell">
                        <a href="https://www.passbolt.com"><span>home</span></a>
                    </div>
                </li>
                <li>
                    <div class="main-cell">
                        <a href="/"><span>help</span></a>
                    </div>
                </li>
                {% if page.category %}
                <li>
                    <div class="main-cell">
                        <a href="{{ page.category | absolute_url }}"><span>{{ page.category }}</span></a>
                    </div>
                </li>
                {% else %}
                {% if page.categories[0] %}
                <li>
                    <div class="main-cell">
                        <a href="{{ page.categories[0] | absolute_url }}"><span>{{ page.categories[0] }}</span></a>
                    </div>
                </li>
                <li>
                    <div class="main-cell">
                        <a href="{{ page.categories[0] | absolute_url }}/{{ page.categories[1] }}"><span>{{ page.categories[1] }}</span></a>
                    </div>
                </li>
                {% endif %}
                {% endif %}
                {% if page.slug %}
                <li>
                    <div class="main-cell">
                        <a href="{{ page.url | absolute_url }}"><span>{{ page.slug }}</span></a>
                    </div>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
