<div class="row" id="introduction">
    <div class="col12">
        <div class="breadcrumbs">
            <ul>
                <li>
                    <div class="main-cell">
                        <a href="https://www.passbolt.com"><span>home</span></a>
                    </div>
                </li>
                <li>
                    <div class="main-cell">
                        <a href="{{ site.url }}"><span>help</span></a>
                    </div>
                </li>
                <li>
                    <div class="main-cell">
                        <a href="{{ "/faq" | absolute_url }}"><span>FAQ</span></a>
                    </div>
                </li>
                <li>
                    <div class="main-cell">
                        <a href="{{ absolute_url }}"><span>{{ page.title }}</span></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
