---
title: Installation
layout: home
category: hosting
slug: install
permalink: /hosting/install
---
<div class="panel main">
    <div class="panel left">
        {% include sidebar/sub-section-home.html section='hosting' sub=page.slug %}
    </div>
    <div class="panel middle">
        <div class="grid grid-responsive-12">
            {% include breadcrumbs/default.html slug=page.slug %}
            {% assign ceCategories = "hosting|install|ce" | split: "|" %}
            {% include cards/jmy-section-cards.html section='hosting' sub='install' title='Community edition' categories=ceCategories %}
            {% assign proCategories = "hosting|install|pro" | split: "|" %}
            {% include cards/jmy-section-cards.html section='hosting' sub='install' title='Pro edition' categories=proCategories %}
        </div>
    </div>
</div>
