---
title: Installation
layout: home
category: hosting
slug: install
permalink: /hosting/install
---
<div class="panel main">
    <div class="panel left">
        {% include sidebar/sub-section-home.html section='hosting' sub=page.slug %}
    </div>
    <div class="panel middle">
        <div class="grid grid-responsive-12">
            {% include breadcrumbs/default.html slug=page.slug %}
            {% include sub-section-cards.html section='hosting' sub='install' %}
        </div>
    </div>
</div>
