---
title: Update
layout: home
category: hosting
slug: update
permalink: /hosting/update
---
<div class="panel main">
    <div class="panel left">
        {% include sidebar/sub-section-home.html section='hosting' sub=page.slug %}
    </div>
    <div class="panel middle">
        <div class="grid grid-responsive-12">
            {% include breadcrumbs/default.html slug=page.slug %}
            {% assign debCategories = "hosting|update" | split: "|" %}
            {% include cards/jmy-section-cards.html section='hosting' sub='update' title='Update your passbolt instance' categories=debCategories %}
        </div>
    </div>
</div>
