/**
 * Additional customization not present in styleguide
 */
.pill {
    display:inline;
    font-size: .65em;
    border-radius: 3px;
    padding: .2em .5em;
    margin-left:.5em;
    background: #d40101;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 1em;
    text-transform: uppercase;
}

.fa-debian:before {
    content: url(../img/fa-server/fa-debian.svg);
}

.fa-ubuntu:before {
    content: url(../img/fa-server/fa-ubuntu.svg);
}

.fa-raspberry:before {
    content: url(../img/fa-server/fa-raspberry.svg);
}

.fa-aws:before {
    content: url(../img/fa-server/fa-aws.svg);
}

.fa-digitalocean:before {
    content: url(../img/fa-server/fa-digitalocean.svg);
}

.fa-rockylinux:before {
    content: url(../img/fa-server/fa-rockylinux.svg);
}

.fa-redhat:before {
    content: url(../img/fa-server/fa-redhat.svg);
}

.fa-oraclelinux:before {
    content: url(../img/fa-server/fa-oraclelinux.svg);
}

.fa-fedora:before {
    content: url(../img/fa-server/fa-fedora.svg);
}

.fa-centos:before {
    content: url(../img/fa-server/fa-centos.svg);
}

.fa-almalinux:before {
    content: url(../img/fa-server/fa-almalinux.svg);
}

.fa-docker:before {
    content: url(../img/fa-server/fa-docker.svg);
}

.fa-helm:before {
    content: url(../img/fa-server/fa-helm.svg);
}

.fa-git:before {
    content: url(../img/fa-server/fa-git.svg);
}

.fa-opensuse:before {
    content: url(../img/fa-server/fa-opensuse.svg);
}