<script src="https://consent.cookiebot.com/uc.js" data-cbid="900808a8-f178-4994-b2ad-66bf3ccca5f7" data-blockingmode="auto" strategy="beforeInteractive"></script>
<script src="{{ "/assets/js/matomo-tag-manager.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/matomo-analytics.js" | absolute_url }}"></script>
<script src="https://code.jquery.com/jquery-3.5.0.slim.min.js" integrity="sha384-/IFzzQmt1S744I+IQO4Mc1uphkxbXt1tEwjQ/qSw2p8pXWck09sLvqHmKDYYwReJ" crossorigin="anonymous"></script>
<script src="{{ "/assets/js/analytics.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/greedynav.js" | absolute_url }}"></script>