    <footer>
        <div class="footer">
            <ul class="footer-links">
                <li><a href="https://www.passbolt.com/licence">Terms</a></li>
                <li><a href="https://www.passbolt.com/privacy">Privacy</a></li>
                <li><a href="https://www.passbolt.com/credits">Credits</a></li>
                <li><a href="https://careers.passbolt.com">Careers</a></li>
            </ul>
        </div>
    </footer>
    <div id="cookies-eu-banner" class="visually-hidden">
        🍪 &nbsp; Do you accept cookies for statistical purposes?
        <a href="https://www.passbolt.com/privacy" id="cookies-eu-more">(Read more)</a>
        <a class="button primary" id="cookies-eu-accept">Accept</a>
        <a id="cookies-eu-reject">No thanks!</a>
    </div>

