    <header>
        <div class="header first ">
            <nav class="greedy">
                <div class="top navigation primary">
                    <ul class="links clearfix">
                        <li class="home with-text"><a href="http://www.passbolt.com/"><span>home</span></a></li>
                        <li class="left"><a href="https://www.passbolt.com/services"><span>pricing</span></a></li>
                        <li class="left"><a href="https://www.passbolt.com/roadmap"><span>roadmap</span></a></li>
                        <li class="left"><a href="https://community.passbolt.com/"><span>forum</span></a></li>
                        <li class="left"><a href="https://www.passbolt.com/blog"><span>blog</span></a></li>
                        <li class="left selected"><a href="https://help.passbolt.com/"><span>help</span></a></li>
                        <li class="left"><a href="https://demo.passbolt.com" class="highlighted" target="_blank" rel="noopener"><span>try it!</span></a></li>
                    </ul>
                    <button class="hidden" count="0">more</button>
                    <ul class="hidden-links hidden"></ul>
                </div>
            </nav>
        </div>
    </header>
    <div class="header second">
        <div class="col1">
            <div class="logo no-img">
                <h1><span>Passbolt</span></h1>
            </div>
        </div>
        <div class="col2 search-wrapper">
            <h2 class="visuallyhidden">Help Search</h2>
            <div>
                <form class="search ready" action="/search.html" method="get">
                    <div class="input required">
                        <label for="search-box">Search</label>
                        <input id="search-box" name="query" maxlength="64" placeholder="Help search" class="fuzzy-search" type="search">
                    </div>
                    <button value="search">
                        <i class="fa fa-fw fa-search"></i>
                        <span class="text visuallyhidden">search</span>
                    </button>
                </form>
            </div>
        </div>
        <div class="col3">
            <div class="edit-on-github">
                <a href="https://github.com/passbolt/passbolt_help/edit/master/{{ page.path }}" class="button">
                    <i class="fa fa-github-alt fa-fw"></i> Edit on github</a>
            </div>
        </div>
    </div>
