{
{% for post in site.data.custom-search %}"{{ post.url | slugify }}": {
"title": "{{ post.title }}",
"category": "{{ post.category }}",
"content": {{ post.content | strip_html | strip_newlines | jsonify }},
"url": "{{ post.url | xml_escape | absolute_url }}"
},{% endfor %}
{% for post in site.pages %}"{{ post.url | slugify }}": {
"title": "{{ post.title }}",
"category": "{{ post.category }}",
"content": {{ post.content | strip_html | strip_newlines | jsonify }},
"url": "{{ post.url | xml_escape | absolute_url }}"
},{% endfor %}
{% for post in site.faq %}{% if post.notsearchable %}{% else %}"{{ post.url | slugify }}": {
"title": "{{ post.title | xml_escape }}",
"category": "{{ post.category | xml_escape }}",
"content": {{ post.content | strip_html | strip_newlines | jsonify }},
"url": "{{ post.url | xml_escape | absolute_url }}"
},
{% endif %}{% endfor %}{% for post in site.posts %}"{{ post.url | slugify }}": {
"title": "{{ post.title | xml_escape }}",
"category": "{{ post.category | xml_escape }}",
"content": {{ post.content | strip_html | strip_newlines | truncatewords: 150 | jsonify }},
"url": "{{ post.url | xml_escape | absolute_url }}"
}{% unless forloop.last %},
{% endunless %}{% endfor %}
}