<div class="tldr">
    <h4 class="visuallyhidden">Available on docker</h4>
    <p>
        <a href="https://hub.docker.com/r/passbolt/passbolt/" target="_blank" rel="noopener nofollow">
            <img alt="Docker Logo" src="/assets/img/third_party/docker_small_h.png" style="">
        </a>
    </p>
    <p>
        Passbolt is also available as a <a href="https://github.com/passbolt/passbolt_docker_debian" target="_blank" rel="noopener nofollow">docker container</a> (for demo purpose only).
    </p>
    <a href="https://hub.docker.com/r/passbolt/passbolt/" class="primary button">
        Get the demo container!
    </a>
</div>
