<div class="tldr">
    <h4>See also:</h4>
    <p>
        <i class="fa fa-birthday-cake fa-fw"></i>
        <a href="http://book.cakephp.org/2.0/en/core-libraries/components/authentication.html" target="_blank" rel="noopener nofollow">
            Cakephp authentication</a>
    </p>
    <p>
        <i class="fa fa-external-link fa-fw"></i>
        <a href="https://gpgauth.org/" target="_blank" rel="noopener nofollow">GPGAuth protocol</a>
    </p>
    <p>
        <i class="fa fa-lock fa-fw"></i>
        <a href="https://www.gnupg.org/" target="_blank" rel="noopener nofollow">GNU Privacy Guard</a>
    </p>
    <p>
        <i class="fa fa-code fa-fw"></i>
        <a href="https://github.com/passbolt/passbolt/blob/master/app/Controller/Component/Auth/GpgAuthenticate.php"
           target="_blank" rel="noopener nofollow">API GpgAuth source</a>
    </p>
    <p>
        <i class="fa fa-code fa-fw"></i>
        <a href="https://github.com/passbolt/passbolt/blob/master/app/Test/Case/Controller/AuthControllerTest.php"
           target="_blank" rel="noopener nofollow">
            API GpgAuth unit tests</a>
    </p>
</div>