<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{% include common/head.html %}
<body>
<div id="container" class="help page background">
    {% include common/header.html %}

    <div class="panel main" aria-label="Content">
        <div class="panel left">
            {% include sidebar/api.html selected=page.category %}
        </div>
        <div class="panel middle" data-spy="scroll" data-target=".scrollspy">
            <div class="grid grid-responsive-12">
                <article>
                    {% include breadcrumbs/api.html %}

                    {% include layout/row_start.html %}
                    {% include layout/col_start.html column="8" %}
                    <h1>
                        {{ page.title }}
                        {% if page.pro %}
                        <span class="pill">
                          PRO
                        </span>
                        {% endif %}
                    </h1>
                    {{ content }}
                    {% include date/updated.html %}
                    {% include layout/col_end.html %}

                    {% include layout/col_start.html column="4 last" %}
                    <div class="tldr message notice" style="margin-top:3em;">
                        <p>
                            For another perspective on the API you browse the OpenAPI 2.0 specifications
                            using the dedicated API reference site (Swagger UI).
                        </p>
                        <a href="https://api-reference.passbolt.com/" class="button primary">
                            API Reference
                        </a>
                    </div>
                    <div class="tldr" >
                        <p>You can also find the latest OpenAPI 2.0 specifications directly on the dedicated repository.</p>
                        <a href="https://github.com/passbolt/passbolt_openapi_specs" class="button">
                            OpenAPI Specs repository
                        </a>
                    </div>
                    {% include layout/col_end.html %}
                    {% include layout/row_end.html %}

                </article>
            </div>
        </div>
    </div>

    {% include common/footer.html %}
</div>
{% include common/analytics.html %}
</body>
</html>
