<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{% include common/head.html %}
<body>
<div id="container" class="help page background">
{% include common/header.html %}

    <div class="panel main" aria-label="Content">
        <div class="panel left">
            {% include sidebar/faq.html selected=page.category %}
        </div>
        <div class="panel middle" data-spy="scroll" data-target=".scrollspy">
            <div class="grid grid-responsive-12">
                <article>
                    {% include breadcrumbs/faq.html selected=page.category %}

                    {% include layout/row_start.html %}
                        {% include layout/col_start.html column="7" %}
                         <h1>{{ page.title }}</h1>
                            {{ content }}
                        {% include layout/col_end.html %}

                    {% include layout/col_start.html column="4 last push1" %}
                        {% if page.sidebar %}
                            {% include {{ page.sidebar }} %}
                        {% else %}
                            {% include aside/community.html %}
                        {% endif %}
                    {% include layout/col_end.html %}
                    {% include layout/row_end.html %}

                    {% if page.notsearchable %}{% else %}
                    {% include layout/row_start.html %}
                        {% include layout/col_start.html column="7" %}
                            <h3>Other frequently asked questions in the same category</h3>
                            {% include faq/list-by-category.html category=page.category %}
                        {% include layout/col_end.html %}

                    {% include layout/col_start.html column="4 last push1" %}
                    {% include layout/col_end.html %}

                    {% include layout/col_end.html %}

                    {% include layout/row_end.html %}
                    {% endif %}

                </article>
            </div>
        </div>
    </div>

{% include common/footer.html %}
</div>
{% include common/analytics.html %}
</body>
</html>
