<div class="navigation-help scrollspy" role="navigation">
  <ul>
      <li><h2>API Documentation</h2></li>
      {% for item in site.data.sidebars.api %}

      {% if page.url == item.url %}
      <li class="selected">
      {% else %}
      <li>
      {% endif %}
          <a href="{{ item.url | absolute_url }}">{{ item.title }}</a>

          {% if page.category contains item.slug %}
          {% if item.data %}
          <ul>
              {% for subitem in item.data %}
              {% if page.url == subitem.url %}
              <li class="selected">
              {% else %}
              <li>
              {% endif %}
                  <a id='{{subitem.slug}}' href="{{ subitem.url | absolute_url }}">{{subitem.title}}</a>
              </li>
              {% endfor %}
          </ul>
          {% endif %}
          {% endif %}

      </li>
      {% endfor %}
  </ul>
</div>
