{% for item in site.data.toc %}
{% if item.slug == include.sidebar %}
<div class="navigation wizard" role="navigation">
    <ul>
        <li><h2>{{ item.title }}</h2></li>
        {% for entry in item.items %}

        {% if entry.slug == include.selected %}
        <li class="selected">
        {% else %}
        <li>
        {% endif %}
            {% if entry.url %}{% else %}
            <a href="{{ item.slug | absolute_url }}/{{ entry.slug }}">{{ entry.title }}</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endfor %}
